@model OddsWebsite.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form method="post">

    <div>
        <input type="submit" value="Send"/>
    </div>
</form>
